@import url("https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed");
html {
  font-size: 16px;
  height: 100%; }

body {
  background: #F7F7F7;
  font-family: "Assistant", sans-serif;
  font-size: 0.95rem;
  color: #6b7b9d;
  line-height: 1.6;
  height: 100%; }

.nounderline {
  text-decoration: none; }
  .nounderline:hover {
    text-decoration: none; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

a:link, a:visited, a:active {
  text-decoration: none !important;
  color: #86a524; }

a:hover, .btn-link:hover {
  text-decoration: none !important;
  color: #3F4752; }

.logo {
  padding: 10px 0; }

.logo_text:link,
.logo_text:visited,
.logo_text:active,
.logo_text:hover {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  color: #c1c7cf;
  text-decoration: none; }
  .logo_text:link .logo_icon,
  .logo_text:visited .logo_icon,
  .logo_text:active .logo_icon,
  .logo_text:hover .logo_icon {
    color: #BADA55; }

.spinner_overlay {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F7F7F7; }

.sk-cube-grid {
  position: fixed;
  width: 60px;
  height: 60px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3F4752;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
.mm_header {
  background: #3F4752;
  text-align: center;
  padding: 25px 0; }

.mm_logo_text {
  color: #c1c7cf;
  font-size: 2.5rem; }

.mm_logo_icon {
  font-size: 4rem;
  color: #BADA55; }

.mm_form_cage {
  margin: 25px 0;
  text-align: center; }

.mm_plate {
  background: #8793a3;
  display: inline-block;
  margin: 6px;
  text-align: left;
  border-radius: 8px;
  border: 2px solid #b2bac4;
  font-size: 0.9rem; }
  .mm_plate a:link, .mm_plate a:active, .mm_plate a:hover, .mm_plate a:visited {
    color: #FFF; }
  .mm_plate .mm_left {
    display: inline-block;
    padding: 12px;
    width: 200px;
    transition: 0.4s; }
    .mm_plate .mm_left:hover {
      background: #BADA55;
      color: #3F4752;
      opacity: 1; }
  .mm_plate .mm_right {
    display: inline-block;
    padding: 12px;
    transition: 0.4s; }
    .mm_plate .mm_right:hover {
      background: #BADA55;
      color: #3F4752;
      opacity: 1; }

.navbar-laravel {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }

.navbar-brand,
.navbar-brand:link,
.navbar-brand:active,
.navbar-brand:visited,
.navbar-brand:hover {
  font-family: "Assistant", sans-serif;
  font-size: 1.2rem;
  color: #6b7b9d; }

.sidebar {
  background: #3F4752;
  max-width: 250px;
  min-width: 160px; }

.sidebar_group {
  margin-bottom: 8px; }

.sidebar_title {
  font-size: 0.9rem;
  color: #dceca9;
  text-transform: uppercase;
  padding: 5px 8px; }
  .sidebar_title .icon {
    font-size: 1rem; }

.sidebar_item {
  font-size: 0.9rem;
  color: #FFF;
  padding: 5px 8px;
  border-radius: 6px;
  transition: 0.4s; }
  .sidebar_item:hover {
    background: #BADA55;
    color: #3F4752;
    opacity: 1; }

.sidebar_statistics {
  color: #FFF;
  text-transform: uppercase;
  padding: 2px 8px; }
  .sidebar_statistics .sidebar_stat_text {
    font-size: 0.8rem; }
  .sidebar_statistics .sidebar_stat_count {
    font-size: 0.8rem;
    text-align: right; }

.sidebar_break {
  background-color: #515b69;
  border-color: #515b69;
  color: #515b69;
  margin: 2px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  box-shadow: 0 0 0px 1000px #FFF inset; }

.form-control {
  background: #FFF;
  border: 1px solid #c1c7cf;
  border-radius: 8px;
  color: #6b7b9d; }
  .form-control::placeholder {
    color: #6b7b9d;
    opacity: 1; }

.form-control:focus,
.form-control:active,
.custom-select:focus {
  box-shadow: 0 0 0 0.2rem #BADA55;
  border: 1px solid #c1c7cf !important; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3F4752; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #FFF;
  background-color: #3F4752; }

.required {
  border-left: 2px solid #e3342f; }

.spaced_select {
  margin-bottom: 4px; }

.form_btn {
  background: #3F4752;
  color: #F7F7F7; }
  .form_btn:hover {
    background: #BADA55;
    color: #3F4752; }

.agent_info_btn {
  background: #BADA55;
  color: #3F4752; }

.table_title {
  font-size: 1.1rem;
  color: #6b7b9d;
  text-transform: capitalize; }

.table_title_records {
  text-transform: uppercase;
  font-size: 14px;
  text-align: right; }

.data_table thead {
  background: #dee1e5;
  color: #6b7b9d;
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: uppercase; }
.data_table tbody {
  font-size: 0.95rem;
  color: #6b7b9d; }
  .data_table tbody .table_icon {
    margin: 0 4px;
    cursor: pointer; }

.login_header {
  background: #3F4752;
  text-align: center;
  padding: 25px 0; }

.login_logo_text {
  color: #c1c7cf;
  font-size: 2.5rem; }

.login_logo_icon {
  font-size: 4rem;
  color: #BADA55; }

.login_form_cage {
  margin: 25px 0; }

.agent_info_cage {
  font-size: 12px;
  margin-right: 10px; }
