// Primary form buttons
.form_btn, .form_btn:focus, .form_btn:active {
    // display: inline-block;
    position: relative;
    background: transparent;
    border: $fb_border_size solid $fb_border_color !important;
    color: $fb_font_color; /* Button text color */
    font-size: $fb_font_size;

    @include btn_style_normal($fb_padding);
    @include transition(all 0.5s ease);
    @include btn_slide($fb_bg_color, $fb_hover_bg_color, $fb_hover_font_color);
}

// Small form button
.small_btn {
    // display: inline-block;
    position: relative;
    background: transparent;
    border: $sm_btn_border_size solid $sm_btn_border_color !important;
    font-size: $sm_btn_font_size;
    color: $sm_btn_font_color; /* Button text color */

    @include btn_style_normal($sm_btn_padding);
    @include transition(all 0.5s ease);
    @include btn_slide($sm_btn_bg_color, $sm_btn_hover_bg_color, $sm_btn_hover_font_color);
}