.modal .entry_details_modal {
    background: $erm_bg_color;
    border: 1px solid $erm_border_color;

    .modal-header {
        background: $erm_header_bg_color;
        color: $erm_header_font_color;
    }

    th {
        background: $erm_th_bg_color;
        text-transform: uppercase;
        padding: $erm_padding 10px;
    }

    td {
        padding: $erm_padding 10px;
    }

    .section_label {
        color: $erm_label_font_color;
        font-weight: 600;
    }
}