.logo {
    padding: $logo_padding;
}
.logo_text:link, 
.logo_text:visited, 
.logo_text:active, 
.logo_text:hover, {
    font-family: $sec_font_family;
    font-size: $logo_font_size;
    color: $logo_font_color;
    text-decoration: none;

    .logo_icon {
        color: $logo_icon_color;   
    }
}