.logo {
    padding: $logo_padding;
}
.logo_text {
    color: $logo_font_color;
    font-size: $logo_font_size;

    &:hover {
        color: $logo_font_color;
        text-decoration: none;
    }

    .logo_icon {
        color: $logo_icon_color;   
    }
}