.mm_header {
    background: $mm_head_bg;
    text-align: center;
    padding: $mm_head_padding;
}
.mm_logo_text {
    color: $mm_font_color;
    font-size: $mm_font_size;
}
.mm_logo_icon {
    font-size: $mm_icon_size;
    color: $mm_icon_color;
}
.mm_form_cage {
    margin: $mm_form_margin;
    text-align: center;
}

.mm_plate {
    background: $mm_plate_bg_color;
    display: inline-block;
    margin: 8px;
    text-align: left;
    border-radius: $mm_plate_border_radius;
    border: 2px solid $mm_plate_border_color;
    font-size: $mm_plate_font_size;

    a:link, a:active, a:hover, a:visited {
        color: $mm_plate_font_color;
    }
}
.mm_left {
    display: inline-block;
    padding: 12px;
    width: 200px;

    &:hover {
        background: $mm_hover_bg_color;
        border-radius: $mm_plate_border_radius 0 0 $mm_plate_border_radius;
        color: $mm_hover_font_color;
    }
}
.mm_right {
    display: inline-block;
    padding: 12px;

    &:hover {
        background: $mm_hover_bg_color;
        border-radius: 0 $mm_plate_border_radius $mm_plate_border_radius 0;
        color: $mm_hover_font_color;
    }
}