.mm_header {
    background: $mm_head_bg;
    text-align: center;
    padding: $mm_head_padding;
}
.mm_logo_text {
    color: $mm_font_color;
    font-size: $mm_font_size;
    margin-top: 0;
}
.mm_logo_icon {
    // font-size: $mm_icon_size;
    color: $mm_icon_color;
}
.mm_form_cage {
    margin: $mm_form_margin;
    text-align: center;
}

.mm_plate {
    background: $mm_plate_bg_color;
    display: inline-block;
    margin: $mm_plate_margin;
    text-align: left;
    border-radius: $mm_plate_border_radius;
    border: $mm_plate_border_size solid $mm_plate_border_color;
    font-size: $mm_plate_font_size;

    a:link, a:active, a:hover, a:visited {
        color: $mm_plate_font_color;
    }

    .mm_left {
        display: inline-block;
        padding: $mm_plate_padding;
        width: $mm_left_width;
        transition: $mm_hover_transition;
    
        &:hover {
            background: $mm_hover_bg_color;
            color: $mm_hover_font_color;
            opacity: 1;
        }
    }
    
    .mm_right {
        display: inline-block;
        padding: $mm_plate_padding;
        transition: $mm_hover_transition;
    
        &:hover {
            background: $mm_hover_bg_color;
            color: $mm_hover_font_color;
            opacity: 1;
        }
    }
}