.navbar-laravel {
  background-color: $nav_bg_color;
  box-shadow: $nav_box_shadow;
}

// Overrides the bootstrap navbar brand style
.navbar-brand, 
.navbar-brand:link,
.navbar-brand:active,
.navbar-brand:visited,
.navbar-brand:hover, {
    font-family: $pri_font_family;
    font-size: $nav_brand_font_size;
    color: $nav_brand_color;
}