// Primary background spanning entire bar
.navbar_custom {
	background-color: $nav_main_bg_color;
	box-shadow: $nav_box_shadow;

	.navbar-brand, 
	.navbar-brand:link,
	.navbar-brand:active,
	.navbar-brand:visited,
	.navbar-brand:hover, {
		font-family: $logo_font_family;
		font-size: $nav_brand_font_size;
		background-color: $nav_brand_bg_color;
		color: $logo_font_color;
		padding-top: 0.70rem;
		padding-bottom: 0.70rem;
		letter-spacing: 2px;
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); /* Adds divider to match up with fixed sidebar */

		.logo_icon {
			font-size: $nav_brand_icon_size;
			color: $logo_icon_color;
			margin-right: 6px;
		}
	}

	.section_title {
		font-family: $sec_font_family;
		font-size: $nav_s_title_font_size;
		text-transform: $nav_s_title_transform;
	}
}