.sidebar {
    background: $sb_bg_color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 10px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); /* Creates breakline */

    .nav-link {
        font-size: $sb_item_font_size;
        color: $sb_item_font_color;
        padding: $sb_padding; /* Overrides nav-link */
        transition: $sb_item_transition;
        
        &:hover {
            background: $sb_hover_bg_color;
            color: $sb_hover_font_color;
            opacity: 1;
        }
    }
}
.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
.material-icons {
    vertical-align: text-bottom;
}
.sidebar .nav-link .material-icons {
    margin-right: 8px;
    color: darken($sb_item_font_color, 40%);
}
.sidebar_title {
    font-size: $sb_title_font_size;
    color: $sb_title_font_color;
    text-transform: $sb_title_text_transform;
    padding: 6px 0;
}
.sidebar_statistics {
    color: $sb_item_font_color;
    text-transform: uppercase;
    padding: $sb_stat_padding;

    .sidebar_stat_text {
        font-size: $sb_stat_text_font_size;
    }
    .sidebar_stat_count {
        font-size: $sb_stat_count_font_size;
        text-align: right;
    }
}
.sidebar_break {
    background-color: $sb_break_color;
    border-color: $sb_break_color;
    color: $sb_break_color;
    margin: $sb_break_margin;
}