.sidebar_background {
    background: $sb_bg_color;
}
.sidebar_group {
    margin-bottom: $sb_group_bottom_margin;
}
.sidebar_title {
    font-size: $sb_title_font_size;
    padding: $sb_padding;
}
.sidebar_item {
    padding: $sb_padding;
    border-radius: $sb_border_radius;

    &:hover {
        background: $sb_hover_bg_color;
        color: $sb_hover_font_color;
    }
}
.sidebar_break {
    margin: $sb_break_margin;
}