.submenu {
    background: $submenu_bg_color;
    font-size: $submenu_font_size;
    font-weight: $submenu_font_weight;
    margin-top: $submenu_margin_top; /* Counters the section bottom margin */

    .item {
        display: inline-block;
        color: $submenu_item_font_color;
        padding: $submenu_item_padding;

        &:hover {
            background: $submenu_item_hover_bg_color;
            color: $submenu_item_hover_font_color;
        }
    }
}