.table_title {
    font-family: $table_title_font;
    font-size: $table_title_font_size;
    color: $table_title_font_color;
    text-transform: $table_title_font_transform;
}
.table_title_records {
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
}

.data_table {
    thead {
        background: $thead_bg_color;
        color: $thead_font_color;
        font-size: $thead_font_size;
        font-weight: $thead_font_weight;
        text-transform: $thead_font_transform;
    }

    tbody {
        font-size: $tbody_font_size;
        color: $tbody_font_color;

        td {
            padding: $tbody_row_padding;
        }

        .table_icon {
            background: $tbody_font_color;
            color: $tbody_icon_color;
            border: 1px solid $tbody_icon_border_color;
            border-radius: 4px;
            font-size: $tbody_icon_size;
            margin: $tbody_icon_margin;
            cursor: pointer;
        }

        .disabled_row, .disabled_row a {
            color: lighten($tbody_font_color, 25%);
            font-style: italic;
        }
    }
}